a.logo {
    font-size: 34px;
    margin-top: -53px;
    text-decoration: none;
    color: beige;
}
  
.nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Sono', sans-serif;
  }
  
  .nav h1 {
    color: white;
    margin: 0;
    font-size: 40px;
  }
  
  .nav ul {
      display: inline-flex;
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
  
  .nav ul li{
      padding-left: 15px;
      padding-top: 15px;
  }
  
  .nav ul a {
      text-decoration: none;
      color: white;
      cursor: pointer;
      font-family: 'Sono', sans-serif;
      font-size: 24px;
  }
  
  h1 a{
    color: white;
    text-decoration: none;
  }
  .headerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 57rem;
    font-size: 21px;
    margin-top: -113px;
    font-family: 'Sono', sans-serif;
}
.headerMenu li {
    padding-right: 24px;
}
li.flightLogo {
    margin-top: -89px;
    font-family: 'Rubik', sans-serif;
}