<div class="flightPage">


    <form #FlightInfo="ngForm" (ngSubmit)="flightSearch(FlightInfo.value)" class="common-form">
        <div class="searchFlight">
            <div class="searchForm">
                <input type="text" id="input-group" ngModel name="where" placeholder="Where" #where="ngModel" required>
            </div>
            <div class="searchForm">
                <input type="date" id="input-group" ngModel name="date" placeholder="Date" #date="ngModel" required>
            </div>
            <div class="searchForm">
                <select id="input-group" ngModel name="guests" #guests="ngModel" required>
                    <option value="">Guests</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4+">4+</option>
                </select>
            </div>
            <div class="searchForm">
                <a> <button (click)="showFlightListTable" type="submit"
                        class="btn btn-warning text-white search flightSearch">Search Flight</button>
                </a>
            </div>
        </div>
    </form>

    <div *ngIf="showFlightTable" class="flight-list">
        <h1 class="list">Flight List</h1>
        <table>
            <thead>
                <tr>
                    <th>Flight ID</th>
                    <th>Departure</th>
                    <th>Destination</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of showFlightSearch">
                    <td class="col-md-2">{{ item.flightId }}</td>
                    <td>{{ item.from }}</td>
                    <td>{{ item.to }}</td>
                    <td>{{item.time}}</td>
                    <td><button (click)="bookFlight()">Book Now</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>